#container{
    height: 100%;
    width: 25%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);    
    background-color: white;
}


#container>div{
    height:90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container footer{
    height:10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



