<main id="app_html" style="display: none;">

    <section>
        
        <div>

            <img src="img/logo.png">

            <h1>Descarga la app oficial de ORION semaforos digitales</h1>

            <p>Una herramienta facil de usar para visualizar el estado(color) de los semaforos
                en tiempo real mientras transitas por la ciudad.
            </p>

            <a href="https://drive.google.com/uc?id=1DMFFfAZ7BwOlrcHDQ41njsI0eqInN1fm&export=download&authuser=0">
            
            <button class="mui-btn mui-btn--raised mui-btn--danger">
                <i class="fa fa-arrow-down" style="color: white;"></i> Descargar app
            </button>

            </a>



        </div>

        <img src="img/phone.png">


    </section>


</main>