<main id="login_html">

        
        <section id="banner">
            <div>
                <img src="img/logo.png">
                <p>SISTEMA DIGITAL DE SEMAFOROS</p>
            </div>
        </section>

        <section id="container">
            <div>
                <form id="form_login">

                    <legend>Iniciar Sesión</legend>
                    <br>
                    <div class="mui-textfield mui-textfield--float-label">
                        <input type="email" required>
                        <label>correo</label>
                    </div>
                    <div class="mui-textfield mui-textfield--float-label">
                        <input type="password" required>
                        <label>contraseña</label>
                    </div>
                    
                    <button class="mui-btn mui-btn--primary">Aceptar</button>
                    
                </form>
            </div>

            <footer>
                <a href="https://github.com/itcuautla/orion.sds.itcuautla"><i class="fa fa-github fa-2x"></i></a>
                <i class="fa fa-question-circle fa-2x" id="open_info"></i>  
            </footer>
            
        </section>

</main>

 